body {
  margin: 0;
  height: 100%;
  font-family: 'Germania One', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;  
  background-color: rgb(9, 9, 9);
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header,h1 {
  color: white;
  text-align: center;
  font-size: 250%;
  text-shadow: 2px 2px black;  
}
  
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("https://blog-assets.busbud.com/wp-content/uploads/2019/11/Sunnylvsfjorden-fjord-canyon.png");  
  height: 100%;
  margin-top: 0px;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border: solid rgb(249, 187, 105);
  border-width: 3px;
  margin-bottom: 10px;
}
  


.mainBox {
  height: 700px;
  background-color: antiquewhite;
  border: solid rgb(249, 187, 105);
  border-width: 3px;
  padding: 20px;
  overflow-y: scroll;
  margin-bottom: 30px;
  /* opacity: 95%; */
}

.keg {
  border: solid rgb(249, 187, 105);
  border-width: 1px;
  padding: 20px;
  margin: 8px;
  box-shadow: 2px 2px 2px 2px rgb(143, 143, 143) ;
}

.redAlert {
  color: red;
}

img {
  width: 15%
}

button {
  margin: 3px;
}

.black {
  color: black;
  text-shadow: 1px 1px white;  
}

.green {
  color: rgb(91, 165, 17);
  font-weight: bold;
}

.tapList {
  text-align: center;
}


